{% extends "base.html" %}

{% block title %}Axum Alpine Test | Home{% endblock %}

{% block styles %}
    {{ super() }}
    <link  rel="stylesheet" href="/assets/css/home.css" />
    <link  rel="stylesheet" href="/assets/css/header.css" />
    <link  rel="stylesheet" href="/assets/css/loading.css" />
{% endblock %}

{% block header %}
    <div  class='nav'>
        <div class='nav-brand'>Axum Alpine</div>
        <a class='nav-item active' href="/">Home</a>
        <a class='nav-item' href="/users">Users</a>
        <a class='nav-item' href="/about">About</a>
    </div>
{% endblock %}

{% block content %}
    <div class='row content'>
        <div class='col-6 content-container'>
            <h2 class='content-header'>Axum Alpine Test</h2>
            <p class='content-item'>
                Baptême de tabarnane de cimonaque d'étole de patente à gosse de maudit de cossin de colon de cibouleau de saint-ciboire.
                Cul de bout d'ciarge de Jésus Marie Joseph de câlique de colon de câline de sacréfice de mosus de batèche d'étole.
                Saintes fesses d'ostie de sapristi de mosus de boswell de baptême de torrieux de caltor de purée de crucifix.
                Verrat de viande à chien de calvince de gériboire de cibouleau de calvinouche de bâtard de christie de crucifix de doux Jésus.
                Saintes fesses de Jésus Marie Joseph de sacristi de ciboire de charogne d'enfant d'chienne de bâtard de cul de mosus de saint-ciboire.
            </p>
            <div style="margin-top:20px;">
                <a class='btn-white content-btn' href="/users">All Users <span style="font-size: larger; font-weight: 700;">&#x2192;</span></a>
            </div>
        </div>
        <div class='col-4 text-center' x-data="{ login: true, name: '', surname: '', email: '', password: '', repassword, loginEmail: '', loginPassowrd:'' }">
            <div x-show="!$store.user.value && !$store.user.loading" class='forms'>
                <div class='row'style='margin-bottom: 30px;'>
                    <div class='col-5 pe-1'><button x-on:click='login = true' x-bind:class='login ? "btn-white options-btn" : "btn-outline-white options-btn"'>Login</button></div>
                    <div class='col-5 ps-1'><button x-on:click='login = false' x-bind:class='!login ? "btn-white options-btn" : "btn-outline-white options-btn"'>Sign Up</button></div>
                </div>
                <form x-show='login' class="slidin">
                    <label for='email'>Email:</label><br>
                    <input x-model="loginEmail" type='email' id='loginEmail' name='email'><br>
                    <label for='password'>Password:</label><br>
                    <input x-model="loginPassowrd" type='password' id='loginPassowrd' name='password'>
                    <button id="loginBtn" x-on:click="$store.user.login(loginEmail, loginPassowrd);" type="button" class='options-btn btn-white'>Login</button>
                </form>
                <form x-show='!login' class="slidin" style="display:none">
                    <label for='name'>Name:</label><br>
                    <input x-model="name" type='text' id='name' name='name' required><br>
                    <label for='surname'>Surname:</label><br>
                    <input x-model="surname" type='text' id='surname' name='surname' required><br>
                    <label for='email'>Email:</label><br>
                    <input x-model="email" type='email' id='email' name='email' required><br>
                    <label for='password'>Password:</label><br>
                    <input x-model="password" type='password' id='password' name='password' required>
                    <label for='repassword'>Renter Password:</label><br>
                    <input x-model="repassword" type='password' id='repassword' name='repassword' required>
                    <button x-on:click="$store.user.signup(name, surname, email, password, repassword)" type="button" class='options-btn btn-white'>Submit</button>
                </form>
            </div>
            <div x-show="$store.user.value && !$store.user.loading" class="forms" style="display: none;">
                <img src="/assets/images/profile.png"  width="150px" style="background-color: white; border-radius: 50%;" />
                <table style="margin-top: 20px;">
                    <tr>
                        <td>Name</td>
                        <td x-text="$store.user.value?.name"></td>
                    </tr>
                    <tr>
                        <td>Surname</td>
                        <td x-text="$store.user.value?.surname"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td x-text="$store.user.value?.email"></td>
                    </tr>
                </table>
                <div style="margin-top: 20px; display: flex; width: 100%;  justify-content: right;">
                    <button style="width: 120px;" x-on:click="$store.user.logout();" class="btn-white options-btn">Logout</button>
                </div>
            </div>
            <div x-show="$store.user.loading" class="forms" style="display: none;">
                {% include "components/loading.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src='/assets/js/home.js'></script>
{% endblock %}