{% extends "base.html" %}

{% block title %}Axum Alpine Test | Users{% endblock %}

{% block styles %}
    {{ super() }}
    <link  rel="stylesheet" href="/assets/css/home.css" />
    <link  rel="stylesheet" href="/assets/css/header.css" />
    <link  rel="stylesheet" href="/assets/css/loading.css" />
{% endblock %}

{% block header %}
    <div  class='nav'>
        <div class='nav-brand'>Axum Alpine</div>
        <a class='nav-item' href="/">Home</a>
        <a class='nav-item active' href="/users">Users</a>
        <a class='nav-item' href="/about">About</a>
    </div>
{% endblock %}

{% block content %}
    <div class="content" style="margin-left: 40px; margin-right: 40px;">
        <h1 class="content-header">All Users</h1>
        <div class="row">
            <div class="col-5">
                <div>
                    <p class="content-item slidin">Enfant d'chienne de cossin de bâtard de charogne de verrat de sacristi d'esprit de saintes fesses de patente à gosse d'étole.
				        Mosus de Jésus de plâtre de torvisse de purée de viande à chien d'astie de gériboire de mautadine de cibouleau de saint-cimonaque.
				        Colon de saint-ciboire de ciarge de charogne de ciboire de géritole d'étole de bout d'ciarge d'enfant d'chienne de viarge.
				        Étole de sacréfice d'esprit de Jésus Marie Joseph d'enfant d'chienne de saint-ciboire de colon de verrat de bâtard de cibole.
                    </p>
                    <div class="text-center slidin" x-data>
                        <div x-show="$store.users.loading" class="forms" style="width:90%">{% include "components/loading.html" %}</div>
                        <div x-show="!$store.users.loading" class="forms" style="padding: 15px; display: none; width: 100%; margin-top: 20px;">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Emails</th>
                                </tr>
                                <template x-for="user in $store.users.value">
                                    <tr>
                                        <td><label x-text="user.name"></label></td>
                                        <td><label x-text="user.surname"></label></td>
                                        <td><label x-text="user.email"></label></td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div x-effect="$store.users.init()"></div>
                    </div>
                </div>
            </div>
            <div class="col-5" style="text-align: center;">
                <img class="slidin" src="/assets/images/connected.svg" style="width: 80%;"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src='/assets/js/users.js'></script>
{% endblock %}